# Jessica Fay final Code 1 of 2

## In this notebook I import, merge the datasets to create one master dataest with the correct variables for our team to use.

In [48]:
#import python libraries
import pandas as pd
import geopandas as gpd

In [78]:
# read in census data to notebook
census=gpd.read_file ('Data/census.csv')

In [79]:
census.head(3)

,CT20,FIPS_census,% Hispanic or Latino,Total Asian,% Not a Citizen,% Unemployed,% Employed,Total Population,Population Density (Per Sq. Mile),% Enrolled in School,Median Household Income,Median Family Income,% No Health Insurance Coverage,geometry
0,531604,6037531604,99.85,0,25.16,5.41,54.47,3255,22986.18,32.58,46012,40950,21.29,None
1,533201,6037533201,99.79,0,32.8,13.31,57.4,2421,16815.13,20.93,67708,65568,19.87,None
2,531504,6037531504,99.76,0,23.14,7.49,65.38,4097,21128.76,29.65,71250,74455,16.33,None

In [80]:
# need to make match id in the census dataset
census['geoid20_x']=census.CT20

In [81]:
census.head(3)

,CT20,FIPS_census,% Hispanic or Latino,Total Asian,% Not a Citizen,% Unemployed,% Employed,Total Population,Population Density (Per Sq. Mile),% Enrolled in School,Median Household Income,Median Family Income,% No Health Insurance Coverage,geometry,geoid20_x
0,531604,6037531604,99.85,0,25.16,5.41,54.47,3255,22986.18,32.58,46012,40950,21.29,None,531604
1,533201,6037533201,99.79,0,32.8,13.31,57.4,2421,16815.13,20.93,67708,65568,19.87,None,533201
2,531504,6037531504,99.76,0,23.14,7.49,65.38,4097,21128.76,29.65,71250,74455,16.33,None,531504

In [82]:
census.info(verbose=True,show_counts=True)

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2452 entries, 0 to 2451
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   CT20                               2452 non-null   object
 1   FIPS_census                        2452 non-null   object
 2   % Hispanic or Latino               2452 non-null   object
 3   Total Asian                        2452 non-null   object
 4   % Not a Citizen                    2452 non-null   object
 5   % Unemployed                       2452 non-null   object
 6   % Employed                         2452 non-null   object
 7   Total Population                   2452 non-null   object
 8   Population Density (Per Sq. Mile)  2452 non-null   object
 9   % Enrolled in School               2452 non-null   object
 10  Median Household Income            2452 non-null   object
 11  Median Family Income               2452 non-null   object
 12  % No Health Insurance Coverage     2452 non-null   object
 13  geometry                           0 non-null      geometry
 14  geoid20_x                          2452 non-null   object
dtypes: geometry(1), object(14)
memory usage: 287.5+ KB

In [93]:
#read in USC grocery data
grocery=gpd.read_file ('Data/USCgrocery.csv', dtype= {'geoid20_x':str})

#drop geometry column
grocery = grocery.drop(['geometry'],axis=1)

In [94]:
grocery.head(3)

,geoid,geoid_long,geoid20_x,year,denom_total_pop,lowaccess_count,lowaccess_li_count,lowaccess_kids_count,lowaccess_seniors_count
0,1400000US06037101110,6037101110,101110,2019,4731,115,37,18,12
1,1400000US06037101122,6037101122,101122,2019,3664,1704,137,292,260
2,1400000US06037101220,6037101220,101220,2019,3363,0,0,0,0

In [95]:
# read in USC data to notebook
usc=gpd.read_file ('Data/usc.csv', dtype= {'geoid20_x':str})

#drop geometry column
usc = usc.drop(['geometry'],axis=1)

In [96]:
usc.head(3)

,field_1,geoid20_x,ShapeSTArea,ShapeSTLength,geometry_x,pop_below_100_pct,pop_below_200_pct,mental_health_pct,physical_health_pct,diabetes_pct,...,Under 18 years,Percent Under 18 years,0-19 years,65 years and over,Percent 65 years and over,85 years and over,Hispanic or Latino,Percent Hispanic or Latino,Not Hispanic or Latino,FIPS
0,0,101110,12295621.35,15083.85429,"POLYGON ((-118.2979312139962 34.2632268762169,...",11.287386,26.736021,16.309769,10.794954,9.5042534,...,595.0,14.8,716.0,840.0,20.9,34.0,1082.0,27.0,2932.0,06037101110
1,1,101122,28457743.58,31671.45584,POLYGON ((-118.27743420965825 34.2599078772977...,4.42976,10.499266,13.91129,8.7029572,8.2997313,...,665.0,16.0,729.0,909.0,21.8,149.0,362.0,8.7,3802.0,06037101122
2,2,101220,7522092.633,12698.78381,POLYGON ((-118.27817921018234 34.2557728762786...,16.900661,34.781456,16.807861,11.995934,10.606574,...,596.0,17.1,686.0,569.0,16.3,39.0,1463.0,42.0,2018.0,06037101220

In [97]:
usc.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2495 entries, 0 to 2494
Data columns (total 61 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   field_1                                                                 2495 non-null   object
 1   geoid20_x                                                               2495 non-null   object
 2   ShapeSTArea                                                             2495 non-null   object
 3   ShapeSTLength                                                           2495 non-null   object
 4   geometry_x                                                              2495 non-null   object
 5   pop_below_100_pct                                                       2495 non-null   object
 6   pop_below_200_pct                                                       2495 non-null   object
 7   mental_health_pct                                                       2495 non-null   object
 8   physical_health_pct                                                     2495 non-null   object
 9   diabetes_pct                                                            2495 non-null   object
 10  cancer_pct                                                              2495 non-null   object
 11  copd_pct                                                                2495 non-null   object
 12  chd_pct                                                                 2495 non-null   object
 13  smoking_pct                                                             2495 non-null   object
 14  binge_drinking_pct                                                      2495 non-null   object
 15  total_pop                                                               2495 non-null   object
 16  snap_rate                                                               2495 non-null   object
 17  FIPS_x                                                                  2495 non-null   object
 18  Margin of Error!!SEX AND AGE!!Total population!!35 to 44 years          2495 non-null   object
 19  Margin of Error!!SEX AND AGE!!Total population!!55 to 59 years          2495 non-null   object
 20  Estimate!!SEX AND AGE!!Total population!!75 to 84 years                 2495 non-null   object
 21  Estimate!!SEX AND AGE!!Total population!!Under 18 years                 2495 non-null   object
 22  Estimate!!SEX AND AGE!!Total population!!16 years and over              2495 non-null   object
 23  Percent Margin of Error!!SEX AND AGE!!Total population!!20 to 24 years  2495 non-null   object
 24  geoid20_y                                                               2495 non-null   object
 25  tract                                                                   2495 non-null   object
 26  families_all                                                            2495 non-null   object
 27  fam_below_200fpl                                                        2495 non-null   object
 28  fam_below_300fpl                                                        2495 non-null   object
 29  fam_received_ssi_cash_assistanc                                         2495 non-null   object
 30  fam_below_fpl_pct                                                       2495 non-null   object
 31  fam_below_200fpl_pct                                                    2495 non-null   object
 32  fam_below_300fpl_pct                                                    2495 non-null   object
 33  fam_received_assistance_pct                                             2495 non-null   object
 34  fam_below_fpl_received_assistan                                         2495 non-null   object
 35  assistance_per_100_fam_below_20                                         2495 non-null   object
 36  assistance_per_100_fam_below_30                                         2495 non-null   object
 37  sup_dist                                                                2495 non-null   object
 38  csa                                                                     2495 non-null   object
 39  spa                                                                     2495 non-null   object
 40  calfresh_cases                                                          2495 non-null   object
 41  calfresh_per_100_families                                               2495 non-null   object
 42  calfresh_per_100_fam_below_200f                                         2495 non-null   object
 43  calfresh_per_100_fam_below_300f                                         2495 non-null   object
 44  ESRI_OID                                                                2495 non-null   object
 45  Shape__Area                                                             2495 non-null   object
 46  Shape__Length                                                           2495 non-null   object
 47  geometry_y                                                              2495 non-null   object
 48  FIPS_y                                                                  2495 non-null   object
 49  TRACTCE                                                                 2495 non-null   object
 50  Age Total population                                                    2495 non-null   object
 51  Under 18 years                                                          2495 non-null   object
 52  Percent Under 18 years                                                  2495 non-null   object
 53  0-19 years                                                              2495 non-null   object
 54  65 years and over                                                       2495 non-null   object
 55  Percent 65 years and over                                               2495 non-null   object
 56  85 years and over                                                       2495 non-null   object
 57  Hispanic or Latino                                                      2495 non-null   object
 58  Percent Hispanic or Latino                                              2495 non-null   object
 59  Not Hispanic or Latino                                                  2495 non-null   object
 60  FIPS                                                                    2495 non-null   object
dtypes: object(61)
memory usage: 1.2+ MB

In [98]:
#now merge both USC datasets together
#merging usc and census data
merged=grocery.merge(usc, on="geoid20_x")

In [99]:
merged.head(3)

,geoid,geoid_long,geoid20_x,year,denom_total_pop,lowaccess_count,lowaccess_li_count,lowaccess_kids_count,lowaccess_seniors_count,field_1,...,Under 18 years,Percent Under 18 years,0-19 years,65 years and over,Percent 65 years and over,85 years and over,Hispanic or Latino,Percent Hispanic or Latino,Not Hispanic or Latino,FIPS
0,1400000US06037101110,6037101110,101110,2019,4731,115,37,18,12,0,...,595.0,14.8,716.0,840.0,20.9,34.0,1082.0,27.0,2932.0,06037101110
1,1400000US06037101110,6037101110,101110,2015,4731,115,44,18,12,0,...,595.0,14.8,716.0,840.0,20.9,34.0,1082.0,27.0,2932.0,06037101110
2,1400000US06037101122,6037101122,101122,2019,3664,1704,137,292,260,1,...,665.0,16.0,729.0,909.0,21.8,149.0,362.0,8.7,3802.0,06037101122

# now i have both data sets (USC and census) and need to merge on a common match ID, geoid2_x

In [100]:
#merging usc and census data
final=census.merge(merged, on="geoid20_x")

In [101]:
final.head(3)

,CT20,FIPS_census,% Hispanic or Latino,Total Asian,% Not a Citizen,% Unemployed,% Employed,Total Population,Population Density (Per Sq. Mile),% Enrolled in School,...,Under 18 years,Percent Under 18 years,0-19 years,65 years and over,Percent 65 years and over,85 years and over,Hispanic or Latino,Percent Hispanic or Latino,Not Hispanic or Latino,FIPS
0,531604,6037531604,99.85,0,25.16,5.41,54.47,3255,22986.18,32.58,...,891.0,27.4,1021.0,317.0,9.7,52.0,3250.0,99.8,5.0,06037531604
1,531604,6037531604,99.85,0,25.16,5.41,54.47,3255,22986.18,32.58,...,891.0,27.4,1021.0,317.0,9.7,52.0,3250.0,99.8,5.0,06037531604
2,533201,6037533201,99.79,0,32.8,13.31,57.4,2421,16815.13,20.93,...,436.0,18.0,518.0,303.0,12.5,44.0,2416.0,99.8,5.0,06037533201

In [102]:
final.shape

(4902, 83)

In [103]:
final.info

<bound method DataFrame.info of         CT20 FIPS_census % Hispanic or Latino Total Asian % Not a Citizen  \
0     531604  6037531604                99.85           0           25.16
1     531604  6037531604                99.85           0           25.16
2     533201  6037533201                99.79           0            32.8
3     533201  6037533201                99.79           0            32.8
4     531504  6037531504                99.76           0           23.14
...      ...         ...                  ...         ...             ...
4897  262501  6037262501                 1.29         243            5.18
4898  273404  6037273404                 0.84          87             5.2
4899  273404  6037273404                 0.84          87             5.2
4900  670406  6037670406                 0.64         741            7.35
4901  670406  6037670406                 0.64         741            7.35

     % Unemployed % Employed Total Population  \
0            5.41      54.47             3255
1            5.41      54.47             3255
2           13.31       57.4             2421
3           13.31       57.4             2421
4            7.49      65.38             4097
...           ...        ...              ...
4897         4.68      62.35             3709
4898         8.28      77.78             1424
4899         8.28      77.78             1424
4900         7.73      49.42             1727
4901         7.73      49.42             1727

     Population Density (Per Sq. Mile) % Enrolled in School  ...  \
0                             22986.18                32.58  ...
1                             22986.18                32.58  ...
2                             16815.13                20.93  ...
3                             16815.13                20.93  ...
4                             21128.76                29.65  ...
...                                ...                  ...  ...
4897                           5874.97                27.51  ...
4898                          16992.92                 7.09  ...
4899                          16992.92                 7.09  ...
4900                           3764.44                22.46  ...
4901                           3764.44                22.46  ...

     Under 18 years Percent Under 18 years 0-19 years 65 years and over  \
0             891.0                   27.4     1021.0             317.0
1             891.0                   27.4     1021.0             317.0
2             436.0                   18.0      518.0             303.0
3             436.0                   18.0      518.0             303.0
4            1181.0                   28.8     1279.0             366.0
...             ...                    ...        ...               ...
4897         1113.0                   30.0     1161.0             688.0
4898           29.0                    2.0       29.0             176.0
4899           29.0                    2.0       29.0             176.0
4900          385.0                   22.3      397.0             493.0
4901          385.0                   22.3      397.0             493.0

     Percent 65 years and over 85 years and over Hispanic or Latino  \
0                          9.7              52.0             3250.0
1                          9.7              52.0             3250.0
2                         12.5              44.0             2416.0
3                         12.5              44.0             2416.0
4                          8.9              35.0             4087.0
...                        ...               ...                ...
4897                      18.5             130.0               48.0
4898                      12.4               7.0               12.0
4899                      12.4               7.0               12.0
4900                      28.5              59.0               11.0
4901                      28.5              59.0               11.0

     Percent Hispanic or Latino Not Hispanic or Latino         FIPS
0                          99.8                    5.0  06037531604
1                          99.8                    5.0  06037531604
2                          99.8                    5.0  06037533201
3                          99.8                    5.0  06037533201
4                          99.8                   10.0  06037531504
...                         ...                    ...          ...
4897                        1.3                 3661.0  06037262501
4898                        0.8                 1412.0  06037273404
4899                        0.8                 1412.0  06037273404
4900                        0.6                 1716.0  06037670406
4901                        0.6                 1716.0  06037670406

[4902 rows x 83 columns]>

In [104]:
final.info(verbose=True,show_counts=True)

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 4902 entries, 0 to 4901
Data columns (total 83 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   CT20                                                                    4902 non-null   object
 1   FIPS_census                                                             4902 non-null   object
 2   % Hispanic or Latino                                                    4902 non-null   object
 3   Total Asian                                                             4902 non-null   object
 4   % Not a Citizen                                                         4902 non-null   object
 5   % Unemployed                                                            4902 non-null   object
 6   % Employed                                                              4902 non-null   object
 7   Total Population                                                        4902 non-null   object
 8   Population Density (Per Sq. Mile)                                       4902 non-null   object
 9   % Enrolled in School                                                    4902 non-null   object
 10  Median Household Income                                                 4902 non-null   object
 11  Median Family Income                                                    4902 non-null   object
 12  % No Health Insurance Coverage                                          4902 non-null   object
 13  geometry                                                                0 non-null      geometry
 14  geoid20_x                                                               4902 non-null   object
 15  geoid                                                                   4902 non-null   object
 16  geoid_long                                                              4902 non-null   object
 17  year                                                                    4902 non-null   object
 18  denom_total_pop                                                         4902 non-null   object
 19  lowaccess_count                                                         4902 non-null   object
 20  lowaccess_li_count                                                      4902 non-null   object
 21  lowaccess_kids_count                                                    4902 non-null   object
 22  lowaccess_seniors_count                                                 4902 non-null   object
 23  field_1                                                                 4902 non-null   object
 24  ShapeSTArea                                                             4902 non-null   object
 25  ShapeSTLength                                                           4902 non-null   object
 26  geometry_x                                                              4902 non-null   object
 27  pop_below_100_pct                                                       4902 non-null   object
 28  pop_below_200_pct                                                       4902 non-null   object
 29  mental_health_pct                                                       4902 non-null   object
 30  physical_health_pct                                                     4902 non-null   object
 31  diabetes_pct                                                            4902 non-null   object
 32  cancer_pct                                                              4902 non-null   object
 33  copd_pct                                                                4902 non-null   object
 34  chd_pct                                                                 4902 non-null   object
 35  smoking_pct                                                             4902 non-null   object
 36  binge_drinking_pct                                                      4902 non-null   object
 37  total_pop                                                               4902 non-null   object
 38  snap_rate                                                               4902 non-null   object
 39  FIPS_x                                                                  4902 non-null   object
 40  Margin of Error!!SEX AND AGE!!Total population!!35 to 44 years          4902 non-null   object
 41  Margin of Error!!SEX AND AGE!!Total population!!55 to 59 years          4902 non-null   object
 42  Estimate!!SEX AND AGE!!Total population!!75 to 84 years                 4902 non-null   object
 43  Estimate!!SEX AND AGE!!Total population!!Under 18 years                 4902 non-null   object
 44  Estimate!!SEX AND AGE!!Total population!!16 years and over              4902 non-null   object
 45  Percent Margin of Error!!SEX AND AGE!!Total population!!20 to 24 years  4902 non-null   object
 46  geoid20_y                                                               4902 non-null   object
 47  tract                                                                   4902 non-null   object
 48  families_all                                                            4902 non-null   object
 49  fam_below_200fpl                                                        4902 non-null   object
 50  fam_below_300fpl                                                        4902 non-null   object
 51  fam_received_ssi_cash_assistanc                                         4902 non-null   object
 52  fam_below_fpl_pct                                                       4902 non-null   object
 53  fam_below_200fpl_pct                                                    4902 non-null   object
 54  fam_below_300fpl_pct                                                    4902 non-null   object
 55  fam_received_assistance_pct                                             4902 non-null   object
 56  fam_below_fpl_received_assistan                                         4902 non-null   object
 57  assistance_per_100_fam_below_20                                         4902 non-null   object
 58  assistance_per_100_fam_below_30                                         4902 non-null   object
 59  sup_dist                                                                4902 non-null   object
 60  csa                                                                     4902 non-null   object
 61  spa                                                                     4902 non-null   object
 62  calfresh_cases                                                          4902 non-null   object
 63  calfresh_per_100_families                                               4902 non-null   object
 64  calfresh_per_100_fam_below_200f                                         4902 non-null   object
 65  calfresh_per_100_fam_below_300f                                         4902 non-null   object
 66  ESRI_OID                                                                4902 non-null   object
 67  Shape__Area                                                             4902 non-null   object
 68  Shape__Length                                                           4902 non-null   object
 69  geometry_y                                                              4902 non-null   object
 70  FIPS_y                                                                  4902 non-null   object
 71  TRACTCE                                                                 4902 non-null   object
 72  Age Total population                                                    4902 non-null   object
 73  Under 18 years                                                          4902 non-null   object
 74  Percent Under 18 years                                                  4902 non-null   object
 75  0-19 years                                                              4902 non-null   object
 76  65 years and over                                                       4902 non-null   object
 77  Percent 65 years and over                                               4902 non-null   object
 78  85 years and over                                                       4902 non-null   object
 79  Hispanic or Latino                                                      4902 non-null   object
 80  Percent Hispanic or Latino                                              4902 non-null   object
 81  Not Hispanic or Latino                                                  4902 non-null   object
 82  FIPS                                                                    4902 non-null   object
dtypes: geometry(1), object(82)
memory usage: 3.1+ MB

In [106]:
new_df=final[["geoid20_x", "CT20", "FIPS_census", "tract","ShapeSTArea", "ShapeSTLength", "geometry_x", "% Hispanic or Latino","% Not a Citizen", "% Unemployed", "Population Density (Per Sq. Mile)",
            "Median Household Income", "Median Family Income", "% Enrolled in School", "% No Health Insurance Coverage", 
              "pop_below_100_pct", "calfresh_per_100_fam_below_200f", "mental_health_pct", "chd_pct", "snap_rate", "spa", "calfresh_per_100_families", "Percent 65 years and over",
            "lowaccess_count", "denom_total_pop", "lowaccess_li_count", "lowaccess_seniors_count" ]]
new_df.head(3)

,geoid20_x,CT20,FIPS_census,tract,ShapeSTArea,ShapeSTLength,geometry_x,% Hispanic or Latino,% Not a Citizen,% Unemployed,...,mental_health_pct,chd_pct,snap_rate,spa,calfresh_per_100_families,Percent 65 years and over,lowaccess_count,denom_total_pop,lowaccess_li_count,lowaccess_seniors_count
0,531604,531604,6037531604,06037531604,3947756.523,8092.736172,POLYGON ((-118.15979217068833 34.0256888580665...,99.85,25.16,5.41,...,18.904726,5.8889723,9.1296406,SPA 7 - East,35.7,9.7,0,3580,0,0
1,531604,531604,6037531604,06037531604,3947756.523,8092.736172,POLYGON ((-118.15979217068833 34.0256888580665...,99.85,25.16,5.41,...,18.904726,5.8889723,9.1296406,SPA 7 - East,35.7,9.7,0,3580,0,0
2,533201,533201,6037533201,06037533201,4023505.246,9389.961973,POLYGON ((-118.2126241765933 33.98419884980421...,99.79,32.8,13.31,...,19.3857,4.9848943,7.5103269,SPA 7 - East,27.1,12.5,0,2805,0,0

In [107]:
# Export DataFrame to CSV
new_df.to_csv('final.csv', index=False)

In [32]:
new_df.info

<bound method DataFrame.info of      % Hispanic or Latino % Not a Citizen % Unemployed  \
0                   99.85           25.16         5.41
1                   99.79            32.8        13.31
2                   99.76           23.14         7.49
3                   99.75           32.75        11.67
4                    99.7           31.19         8.79
...                   ...             ...          ...
2447                  1.6            4.42         15.2
2448                 1.48            5.46         5.99
2449                 1.29            5.18         4.68
2450                 0.84             5.2         8.28
2451                 0.64            7.35         7.73

     Population Density (Per Sq. Mile) Median Household Income  \
0                             22986.18                   46012
1                             16815.13                   67708
2                             21128.76                   71250
3                             17493.87                   74286
4                              27815.9                   47011
...                                ...                     ...
2447                           2013.51                  121339
2448                           1335.28                  176875
2449                           5874.97                  250001
2450                          16992.92                   79330
2451                           3764.44                  219375

     Median Family Income % Enrolled in School % No Health Insurance Coverage  \
0                   40950                32.58                          21.29
1                   65568                20.93                          19.87
2                   74455                29.65                          16.33
3                   72500                24.27                          26.51
4                   52834                33.81                          24.31
...                   ...                  ...                            ...
2447               163512                22.04                           3.98
2448               182333                30.66                           4.98
2449               250001                27.51                           0.86
2450               250001                 7.09                           5.13
2451               230952                22.46                           5.56

     geometry pop_below_100_pct mental_health_pct    chd_pct  snap_rate  \
0        None         29.338968         18.904726  5.8889723  9.1296406
1        None         15.688446           19.3857  4.9848943  7.5103269
2        None         8.7301588         18.111753  5.3949904  12.339585
3        None         20.051998         18.900805  5.0044684  3.5075412
4        None         27.644903          19.97707  4.7864718  2.2336385
...       ...               ...               ...        ...        ...
2447     None         16.546019         13.401163   5.610465
2448     None         6.2913909         12.505769  5.5837564
2449     None         3.6195509         11.090975  5.2917724  2.7449903
2450     None         6.4022269         14.253394  3.2805431  7.7101002
2451     None             3.125         9.4752188  5.1749272

                       spa calfresh_per_100_families Percent 65 years and over
0             SPA 7 - East                      35.7                       9.7
1             SPA 7 - East                      27.1                      12.5
2             SPA 7 - East                      34.2                       8.9
3             SPA 7 - East                      33.3                       5.8
4             SPA 7 - East                      35.8                       5.5
...                    ...                       ...                       ...
2447  SPA 2 - San Fernando                       8.2                      27.3
2448  SPA 2 - San Fernando                       7.0                      27.2
2449          SPA 5 - West                       1.9                      18.5
2450          SPA 5 - West                      73.5                      12.4
2451     SPA 8 - South Bay                       1.3                      28.5

[2452 rows x 16 columns]>

# Explore Variables of interest