# Code to Recreate Dataset for Final
## Merges census variables, Cal Fresh cases per census, and census tract geometry data
### Last Edited: 2/27/2024

In [111]:
import pandas as pd
import geopandas as gpd

In [112]:
#importing census data
new = pd.read_csv('data/output.csv',dtype = {'geoid20_x':str})
new

/tmp/ipykernel_152/890708841.py:1: DtypeWarning: Columns (23,24,51,52,71,72,201,202,203,204,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,235,236,237,238,239,240,241,242,243,244,245,246,249,250,251,252,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,329,330,331,332,333,334,335,336,337,338,339,340,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,377,378,379,380) have mixed types. Specify dtype option on import or set low_memory=False.
  new = pd.read_csv('data/output.csv',dtype = {'geoid20_x':str})

,geoid20_x,ShapeSTArea,ShapeSTLength,geometry,pop_below_100_pct,pop_below_200_pct,mental_health_pct,physical_health_pct,diabetes_pct,cancer_pct,...,"Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races excluding Some Other Race, and three or more races",Percent!!Total housing units,Percent Margin of Error!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population","Percent Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population","Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male","Percent Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male","Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female","Percent Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female",geoid20_y
0,101110,1.229562e+07,15083.854290,"POLYGON ((-118.2979312139962 34.2632268762169,...",11.287386,26.736021,16.309769,10.794954,9.504253,5.485480,...,2.8,(X),(X),3106.0,(X),46.5,4.3,53.5,4.3,101110.0
1,101122,2.845774e+07,31671.455840,POLYGON ((-118.27743420965825 34.2599078772977...,4.429760,10.499266,13.911290,8.702957,8.299731,6.283602,...,2.8,(X),(X),3252.0,(X),52.4,3.9,47.6,3.9,101122.0
2,101220,7.522093e+06,12698.783810,POLYGON ((-118.27817921018234 34.2557728762786...,16.900661,34.781456,16.807861,11.995934,10.606574,5.489665,...,1.1,(X),(X),2459.0,(X),46.8,5.8,53.2,5.8,101220.0
3,101221,3.812000e+06,9161.710543,POLYGON ((-118.28734521088782 34.2559088762374...,20.601543,43.918018,18.384296,12.306531,9.890525,4.605512,...,1.9,(X),(X),2224.0,(X),54.9,8.4,45.1,8.4,101221.0
4,101222,3.191371e+06,9980.600461,POLYGON ((-118.28593621132488 34.2558998758872...,38.019875,66.654396,18.394951,12.308386,9.918846,4.598738,...,3.1,(X),(X),1552.0,(X),45.0,7.3,55.0,7.3,101222.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.2,(X),(X),3749.0,(X),100,1.1,0,1.1,9202.0
2963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.4,(X),(X),1026.0,(X),61.7,7.2,38.3,7.2,9304.0
2964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,**,(X),(X),0.0,(X),-,**,-,**,9901.0
2965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,**,(X),(X),0.0,(X),-,**,-,**,9902.0
2966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,**,(X),(X),0.0,(X),-,**,-,**,9903.0

In [114]:
#this is what we will merge with
new['FIPS']='06037'+new['geoid20_x']

In [115]:
new

,geoid20_x,ShapeSTArea,ShapeSTLength,geometry,pop_below_100_pct,pop_below_200_pct,mental_health_pct,physical_health_pct,diabetes_pct,cancer_pct,...,Percent!!Total housing units,Percent Margin of Error!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population","Percent Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population","Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male","Percent Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male","Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female","Percent Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female",geoid20_y,tract
0,101110,1.229562e+07,15083.854290,"POLYGON ((-118.2979312139962 34.2632268762169,...",11.287386,26.736021,16.309769,10.794954,9.504253,5.485480,...,(X),(X),3106.0,(X),46.5,4.3,53.5,4.3,101110.0,06037101110
1,101122,2.845774e+07,31671.455840,POLYGON ((-118.27743420965825 34.2599078772977...,4.429760,10.499266,13.911290,8.702957,8.299731,6.283602,...,(X),(X),3252.0,(X),52.4,3.9,47.6,3.9,101122.0,06037101122
2,101220,7.522093e+06,12698.783810,POLYGON ((-118.27817921018234 34.2557728762786...,16.900661,34.781456,16.807861,11.995934,10.606574,5.489665,...,(X),(X),2459.0,(X),46.8,5.8,53.2,5.8,101220.0,06037101220
3,101221,3.812000e+06,9161.710543,POLYGON ((-118.28734521088782 34.2559088762374...,20.601543,43.918018,18.384296,12.306531,9.890525,4.605512,...,(X),(X),2224.0,(X),54.9,8.4,45.1,8.4,101221.0,06037101221
4,101222,3.191371e+06,9980.600461,POLYGON ((-118.28593621132488 34.2558998758872...,38.019875,66.654396,18.394951,12.308386,9.918846,4.598738,...,(X),(X),1552.0,(X),45.0,7.3,55.0,7.3,101222.0,06037101222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,(X),(X),3749.0,(X),100,1.1,0,1.1,9202.0,NaN
2963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,(X),(X),1026.0,(X),61.7,7.2,38.3,7.2,9304.0,NaN
2964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,(X),(X),0.0,(X),-,**,-,**,9901.0,NaN
2965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,(X),(X),0.0,(X),-,**,-,**,9902.0,NaN
2966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,(X),(X),0.0,(X),-,**,-,**,9903.0,NaN

In [116]:
#importing Cal Fresh data
calfresh = gpd.read_file('data/CalFresh_Cases_(tract).geojson')

In [117]:
calfresh

,tract,families_all,fam_below_200fpl,fam_below_300fpl,fam_received_ssi_cash_assistanc,fam_below_fpl_pct,fam_below_200fpl_pct,fam_below_300fpl_pct,fam_received_assistance_pct,fam_below_fpl_received_assistan,...,csa,spa,calfresh_cases,calfresh_per_100_families,calfresh_per_100_fam_below_200f,calfresh_per_100_fam_below_300f,ESRI_OID,Shape__Area,Shape__Length,geometry
0,06037101110,1085,249,453,165,7.4,22.9,41.8,15.2,14.5,...,Los Angeles - Tujunga,SPA 2 - San Fernando,504.0,46.5,202.4,111.3,1,1.232981e+07,14765.649004,"POLYGON ((-118.30077 34.25961, -118.30077 34.2..."
1,06037101122,988,81,180,88,2.8,8.2,18.2,8.9,0.0,...,Los Angeles - Tujunga,SPA 2 - San Fernando,210.0,21.3,259.3,116.7,2,2.908866e+07,30028.213771,"POLYGON ((-118.30321 34.27334, -118.29971 34.2..."
2,06037101220,960,328,458,193,13.5,34.2,47.7,20.1,22.3,...,Los Angeles - Tujunga,SPA 2 - San Fernando,393.0,40.9,119.8,85.8,3,7.532651e+06,12504.552130,"POLYGON ((-118.28594 34.25228, -118.28594 34.2..."
3,06037101221,934,398,545,369,10.3,42.6,58.4,39.5,19.0,...,Los Angeles - Tujunga,SPA 2 - San Fernando,501.0,53.6,125.9,91.9,4,3.874399e+06,8938.421349,"POLYGON ((-118.29946 34.25598, -118.29319 34.2..."
4,06037101222,681,462,558,151,33.2,67.8,81.9,22.2,19.2,...,Los Angeles - Tujunga,SPA 2 - San Fernando,401.0,58.9,86.8,71.9,5,3.090538e+06,9750.960420,"POLYGON ((-118.29319 34.25233, -118.28863 34.2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,06037980035,104,54,67,1,15.4,51.9,64.4,1.0,0.0,...,City of Industry,SPA 3 - San Gabriel,56.0,53.8,103.7,83.6,2491,1.715306e+08,105850.878716,"POLYGON ((-117.99802 34.02968, -117.99593 34.0..."
2491,06037980036,149,80,80,0,26.2,53.7,53.7,0.0,NaN,...,Unincorporated - Whittier Narrows,SPA 3 - San Gabriel,25.0,16.8,31.3,31.3,2492,9.410894e+07,63183.082619,"POLYGON ((-118.08206 34.02148, -118.07362 34.0..."
2492,06037980037,0,0,0,0,NaN,0.0,0.0,0.0,NaN,...,City of Carson,SPA 8 - South Bay,28.0,0.0,0.0,0.0,2493,1.376446e+07,14866.138291,"POLYGON ((-118.28858 33.80427, -118.28752 33.8..."
2493,06037980038,0,0,0,0,NaN,0.0,0.0,0.0,NaN,...,Unincorporated - Ladera Heights,SPA 5 - West,NaN,0.0,0.0,0.0,2494,4.852656e+07,42566.840167,"POLYGON ((-118.38971 34.00449, -118.38820 34.0..."
2494,06037980039,0,0,0,0,NaN,0.0,0.0,0.0,NaN,...,Unincorporated - Universal City,SPA 2 - San Fernando,NaN,0.0,0.0,0.0,2495,1.464017e+07,17601.678331,"POLYGON ((-118.36097 34.14114, -118.36128 34.1..."

In [119]:
calfresh['FIPS'] = calfresh.tract

In [120]:
#merging census and Cal Fresh data
merge = pd.merge(new,calfresh,on='tract')
merge

,geoid20_x,ShapeSTArea,ShapeSTLength,geometry_x,pop_below_100_pct,pop_below_200_pct,mental_health_pct,physical_health_pct,diabetes_pct,cancer_pct,...,spa,calfresh_cases,calfresh_per_100_families,calfresh_per_100_fam_below_200f,calfresh_per_100_fam_below_300f,ESRI_OID,Shape__Area,Shape__Length,geometry_y,FIPS_y
0,101110,1.229562e+07,15083.854290,"POLYGON ((-118.2979312139962 34.2632268762169,...",11.287386,26.736021,16.309769,10.794954,9.504253,5.485480,...,SPA 2 - San Fernando,504.0,46.5,202.4,111.3,1,1.232981e+07,14765.649004,"POLYGON ((-118.30077 34.25961, -118.30077 34.2...",06037101110
1,101122,2.845774e+07,31671.455840,POLYGON ((-118.27743420965825 34.2599078772977...,4.429760,10.499266,13.911290,8.702957,8.299731,6.283602,...,SPA 2 - San Fernando,210.0,21.3,259.3,116.7,2,2.908866e+07,30028.213771,"POLYGON ((-118.30321 34.27334, -118.29971 34.2...",06037101122
2,101220,7.522093e+06,12698.783810,POLYGON ((-118.27817921018234 34.2557728762786...,16.900661,34.781456,16.807861,11.995934,10.606574,5.489665,...,SPA 2 - San Fernando,393.0,40.9,119.8,85.8,3,7.532651e+06,12504.552130,"POLYGON ((-118.28594 34.25228, -118.28594 34.2...",06037101220
3,101221,3.812000e+06,9161.710543,POLYGON ((-118.28734521088782 34.2559088762374...,20.601543,43.918018,18.384296,12.306531,9.890525,4.605512,...,SPA 2 - San Fernando,501.0,53.6,125.9,91.9,4,3.874399e+06,8938.421349,"POLYGON ((-118.29946 34.25598, -118.29319 34.2...",06037101221
4,101222,3.191371e+06,9980.600461,POLYGON ((-118.28593621132488 34.2558998758872...,38.019875,66.654396,18.394951,12.308386,9.918846,4.598738,...,SPA 2 - San Fernando,401.0,58.9,86.8,71.9,5,3.090538e+06,9750.960420,"POLYGON ((-118.29319 34.25233, -118.28863 34.2...",06037101222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,577200,3.763257e+07,29676.510890,POLYGON ((-118.15164014868971 33.7662598291107...,10.819729,17.558180,14.794112,7.098938,5.906466,5.105273,...,SPA 8 - South Bay,197.0,17.8,185.8,87.2,2046,9.192743e+06,13068.708351,"POLYGON ((-118.15546 33.76413, -118.15459 33.7...",06037577200
2491,577300,3.454461e+07,26605.219290,"POLYGON ((-118.1326921444076 33.7530458289731,...",4.683590,10.958170,14.306240,5.993432,4.802956,4.495074,...,SPA 8 - South Bay,194.0,18.8,524.3,206.4,2047,8.753222e+06,12674.194794,"POLYGON ((-118.14588 33.76067, -118.14516 33.7...",06037577300
2492,577504,4.154029e+07,30008.423940,POLYGON ((-118.13009214414437 33.7544698295901...,12.464788,19.295774,13.001605,8.025682,7.463884,7.303371,...,SPA 8 - South Bay,27.0,8.8,180.0,57.4,2050,6.017113e+06,16934.855734,"POLYGON ((-118.13208 33.75527, -118.13014 33.7...",06037577504
2493,599100,3.618834e+09,792259.729400,NaN,17.596567,26.609442,NaN,NaN,NaN,NaN,...,SPA 8 - South Bay,2.0,3.8,16.7,8.3,2061,3.698756e+09,554591.259931,"MULTIPOLYGON (((-118.60443 33.47856, -118.5988...",06037599100
2494,599000,4.140374e+07,30722.660050,POLYGON ((-118.33162915779049 33.3563367214137...,10.739532,24.333878,15.487218,11.004076,9.892552,5.816969,...,SPA 8 - South Bay,114.0,10.4,53.8,31.2,2060,3.566450e+07,28399.116302,"POLYGON ((-118.34352 33.34031, -118.33722 33.3...",06037599000

In [121]:
merge.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2495 entries, 0 to 2494
Data columns (total 406 columns):
 #    Column                                                                                                                                                                           Non-Null Count  Dtype
---   ------                                                                                                                                                                           --------------  -----
 0    geoid20_x                                                                                                                                                                        2495 non-null   object
 1    ShapeSTArea                                                                                                                                                                      2495 non-null   float64
 2    ShapeSTLength                                                                                                                                                                    2495 non-null   float64
 3    geometry_x                                                                                                                                                                       2481 non-null   object
 4    pop_below_100_pct                                                                                                                                                                2471 non-null   float64
 5    pop_below_200_pct                                                                                                                                                                2471 non-null   float64
 6    mental_health_pct                                                                                                                                                                2477 non-null   float64
 7    physical_health_pct                                                                                                                                                              2477 non-null   float64
 8    diabetes_pct                                                                                                                                                                     2477 non-null   float64
 9    cancer_pct                                                                                                                                                                       2477 non-null   float64
 10   copd_pct                                                                                                                                                                         2477 non-null   float64
 11   chd_pct                                                                                                                                                                          2477 non-null   float64
 12   smoking_pct                                                                                                                                                                      2477 non-null   float64
 13   binge_drinking_pct                                                                                                                                                               2477 non-null   float64
 14   total_pop                                                                                                                                                                        1986 non-null   float64
 15   snap_rate                                                                                                                                                                        1979 non-null   float64
 16   FIPS_x                                                                                                                                                                           2495 non-null   object
 17   Estimate!!SEX AND AGE!!Total population                                                                                                                                          2029 non-null   float64
 18   Margin of Error!!SEX AND AGE!!Total population                                                                                                                                   2029 non-null   float64
 19   Estimate!!SEX AND AGE!!Total population!!Male                                                                                                                                    2029 non-null   float64
 20   Margin of Error!!SEX AND AGE!!Total population!!Male                                                                                                                             2029 non-null   float64
 21   Estimate!!SEX AND AGE!!Total population!!Female                                                                                                                                  2029 non-null   float64
 22   Margin of Error!!SEX AND AGE!!Total population!!Female                                                                                                                           2029 non-null   float64
 23   Estimate!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females)                                                                                                       2029 non-null   object
 24   Margin of Error!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females)                                                                                                2029 non-null   object
 25   Estimate!!SEX AND AGE!!Total population!!Under 5 years                                                                                                                           2029 non-null   float64
 26   Margin of Error!!SEX AND AGE!!Total population!!Under 5 years                                                                                                                    2029 non-null   float64
 27   Estimate!!SEX AND AGE!!Total population!!5 to 9 years                                                                                                                            2029 non-null   float64
 28   Margin of Error!!SEX AND AGE!!Total population!!5 to 9 years                                                                                                                     2029 non-null   float64
 29   Estimate!!SEX AND AGE!!Total population!!10 to 14 years                                                                                                                          2029 non-null   float64
 30   Margin of Error!!SEX AND AGE!!Total population!!10 to 14 years                                                                                                                   2029 non-null   float64
 31   Estimate!!SEX AND AGE!!Total population!!15 to 19 years                                                                                                                          2029 non-null   float64
 32   Margin of Error!!SEX AND AGE!!Total population!!15 to 19 years                                                                                                                   2029 non-null   float64
 33   Estimate!!SEX AND AGE!!Total population!!20 to 24 years                                                                                                                          2029 non-null   float64
 34   Margin of Error!!SEX AND AGE!!Total population!!20 to 24 years                                                                                                                   2029 non-null   float64
 35   Estimate!!SEX AND AGE!!Total population!!25 to 34 years                                                                                                                          2029 non-null   float64
 36   Margin of Error!!SEX AND AGE!!Total population!!25 to 34 years                                                                                                                   2029 non-null   float64
 37   Estimate!!SEX AND AGE!!Total population!!35 to 44 years                                                                                                                          2029 non-null   float64
 38   Margin of Error!!SEX AND AGE!!Total population!!35 to 44 years                                                                                                                   2029 non-null   float64
 39   Estimate!!SEX AND AGE!!Total population!!45 to 54 years                                                                                                                          2029 non-null   float64
 40   Margin of Error!!SEX AND AGE!!Total population!!45 to 54 years                                                                                                                   2029 non-null   float64
 41   Estimate!!SEX AND AGE!!Total population!!55 to 59 years                                                                                                                          2029 non-null   float64
 42   Margin of Error!!SEX AND AGE!!Total population!!55 to 59 years                                                                                                                   2029 non-null   float64
 43   Estimate!!SEX AND AGE!!Total population!!60 to 64 years                                                                                                                          2029 non-null   float64
 44   Margin of Error!!SEX AND AGE!!Total population!!60 to 64 years                                                                                                                   2029 non-null   float64
 45   Estimate!!SEX AND AGE!!Total population!!65 to 74 years                                                                                                                          2029 non-null   float64
 46   Margin of Error!!SEX AND AGE!!Total population!!65 to 74 years                                                                                                                   2029 non-null   float64
 47   Estimate!!SEX AND AGE!!Total population!!75 to 84 years                                                                                                                          2029 non-null   float64
 48   Margin of Error!!SEX AND AGE!!Total population!!75 to 84 years                                                                                                                   2029 non-null   float64
 49   Estimate!!SEX AND AGE!!Total population!!85 years and over                                                                                                                       2029 non-null   float64
 50   Margin of Error!!SEX AND AGE!!Total population!!85 years and over                                                                                                                2029 non-null   float64
 51   Estimate!!SEX AND AGE!!Total population!!Median age (years)                                                                                                                      2029 non-null   object
 52   Margin of Error!!SEX AND AGE!!Total population!!Median age (years)                                                                                                               2029 non-null   object
 53   Estimate!!SEX AND AGE!!Total population!!Under 18 years                                                                                                                          2029 non-null   float64
 54   Margin of Error!!SEX AND AGE!!Total population!!Under 18 years                                                                                                                   2029 non-null   float64
 55   Estimate!!SEX AND AGE!!Total population!!16 years and over                                                                                                                       2029 non-null   float64
 56   Margin of Error!!SEX AND AGE!!Total population!!16 years and over                                                                                                                2029 non-null   float64
 57   Estimate!!SEX AND AGE!!Total population!!18 years and over                                                                                                                       2029 non-null   float64
 58   Margin of Error!!SEX AND AGE!!Total population!!18 years and over                                                                                                                2029 non-null   float64
 59   Estimate!!SEX AND AGE!!Total population!!21 years and over                                                                                                                       2029 non-null   float64
 60   Margin of Error!!SEX AND AGE!!Total population!!21 years and over                                                                                                                2029 non-null   float64
 61   Estimate!!SEX AND AGE!!Total population!!62 years and over                                                                                                                       2029 non-null   float64
 62   Margin of Error!!SEX AND AGE!!Total population!!62 years and over                                                                                                                2029 non-null   float64
 63   Estimate!!SEX AND AGE!!Total population!!65 years and over                                                                                                                       2029 non-null   float64
 64   Margin of Error!!SEX AND AGE!!Total population!!65 years and over                                                                                                                2029 non-null   float64
 65   Estimate!!SEX AND AGE!!Total population!!18 years and over.1                                                                                                                     2029 non-null   float64
 66   Margin of Error!!SEX AND AGE!!Total population!!18 years and over.1                                                                                                              2029 non-null   float64
 67   Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male                                                                                                                 2029 non-null   float64
 68   Margin of Error!!SEX AND AGE!!Total population!!18 years and over!!Male                                                                                                          2029 non-null   float64
 69   Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female                                                                                                               2029 non-null   float64
 70   Margin of Error!!SEX AND AGE!!Total population!!18 years and over!!Female                                                                                                        2029 non-null   float64
 71   Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females)                                                                                    2029 non-null   object
 72   Margin of Error!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females)                                                                             2029 non-null   object
 73   Estimate!!SEX AND AGE!!Total population!!65 years and over.1                                                                                                                     2029 non-null   float64
 74   Margin of Error!!SEX AND AGE!!Total population!!65 years and over.1                                                                                                              2029 non-null   float64
 75   Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male                                                                                                                 2029 non-null   float64
 76   Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Male                                                                                                          2029 non-null   float64
 77   Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female                                                                                                               2029 non-null   float64
 78   Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Female                                                                                                        2029 non-null   float64
 79   Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females)                                                                                    2029 non-null   object
 80   Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females)                                                                             2029 non-null   object
 81   Estimate!!RACE!!Total population                                                                                                                                                 2029 non-null   float64
 82   Margin of Error!!RACE!!Total population                                                                                                                                          2029 non-null   float64
 83   Estimate!!RACE!!Total population!!One race                                                                                                                                       2029 non-null   float64
 84   Margin of Error!!RACE!!Total population!!One race                                                                                                                                2029 non-null   float64
 85   Estimate!!RACE!!Total population!!Two or More Races                                                                                                                              2029 non-null   float64
 86   Margin of Error!!RACE!!Total population!!Two or More Races                                                                                                                       2029 non-null   float64
 87   Estimate!!RACE!!Total population!!One race.1                                                                                                                                     2029 non-null   float64
 88   Margin of Error!!RACE!!Total population!!One race.1                                                                                                                              2029 non-null   float64
 89   Estimate!!RACE!!Total population!!One race!!White                                                                                                                                2029 non-null   float64
 90   Margin of Error!!RACE!!Total population!!One race!!White                                                                                                                         2029 non-null   float64
 91   Estimate!!RACE!!Total population!!One race!!Black or African American                                                                                                            2029 non-null   float64
 92   Margin of Error!!RACE!!Total population!!One race!!Black or African American                                                                                                     2029 non-null   float64
 93   Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native                                                                                                    2029 non-null   float64

In [122]:
merge

,geoid20_x,ShapeSTArea,ShapeSTLength,geometry_x,pop_below_100_pct,pop_below_200_pct,mental_health_pct,physical_health_pct,diabetes_pct,cancer_pct,...,spa,calfresh_cases,calfresh_per_100_families,calfresh_per_100_fam_below_200f,calfresh_per_100_fam_below_300f,ESRI_OID,Shape__Area,Shape__Length,geometry_y,FIPS_y
0,101110,1.229562e+07,15083.854290,"POLYGON ((-118.2979312139962 34.2632268762169,...",11.287386,26.736021,16.309769,10.794954,9.504253,5.485480,...,SPA 2 - San Fernando,504.0,46.5,202.4,111.3,1,1.232981e+07,14765.649004,"POLYGON ((-118.30077 34.25961, -118.30077 34.2...",06037101110
1,101122,2.845774e+07,31671.455840,POLYGON ((-118.27743420965825 34.2599078772977...,4.429760,10.499266,13.911290,8.702957,8.299731,6.283602,...,SPA 2 - San Fernando,210.0,21.3,259.3,116.7,2,2.908866e+07,30028.213771,"POLYGON ((-118.30321 34.27334, -118.29971 34.2...",06037101122
2,101220,7.522093e+06,12698.783810,POLYGON ((-118.27817921018234 34.2557728762786...,16.900661,34.781456,16.807861,11.995934,10.606574,5.489665,...,SPA 2 - San Fernando,393.0,40.9,119.8,85.8,3,7.532651e+06,12504.552130,"POLYGON ((-118.28594 34.25228, -118.28594 34.2...",06037101220
3,101221,3.812000e+06,9161.710543,POLYGON ((-118.28734521088782 34.2559088762374...,20.601543,43.918018,18.384296,12.306531,9.890525,4.605512,...,SPA 2 - San Fernando,501.0,53.6,125.9,91.9,4,3.874399e+06,8938.421349,"POLYGON ((-118.29946 34.25598, -118.29319 34.2...",06037101221
4,101222,3.191371e+06,9980.600461,POLYGON ((-118.28593621132488 34.2558998758872...,38.019875,66.654396,18.394951,12.308386,9.918846,4.598738,...,SPA 2 - San Fernando,401.0,58.9,86.8,71.9,5,3.090538e+06,9750.960420,"POLYGON ((-118.29319 34.25233, -118.28863 34.2...",06037101222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,577200,3.763257e+07,29676.510890,POLYGON ((-118.15164014868971 33.7662598291107...,10.819729,17.558180,14.794112,7.098938,5.906466,5.105273,...,SPA 8 - South Bay,197.0,17.8,185.8,87.2,2046,9.192743e+06,13068.708351,"POLYGON ((-118.15546 33.76413, -118.15459 33.7...",06037577200
2491,577300,3.454461e+07,26605.219290,"POLYGON ((-118.1326921444076 33.7530458289731,...",4.683590,10.958170,14.306240,5.993432,4.802956,4.495074,...,SPA 8 - South Bay,194.0,18.8,524.3,206.4,2047,8.753222e+06,12674.194794,"POLYGON ((-118.14588 33.76067, -118.14516 33.7...",06037577300
2492,577504,4.154029e+07,30008.423940,POLYGON ((-118.13009214414437 33.7544698295901...,12.464788,19.295774,13.001605,8.025682,7.463884,7.303371,...,SPA 8 - South Bay,27.0,8.8,180.0,57.4,2050,6.017113e+06,16934.855734,"POLYGON ((-118.13208 33.75527, -118.13014 33.7...",06037577504
2493,599100,3.618834e+09,792259.729400,NaN,17.596567,26.609442,NaN,NaN,NaN,NaN,...,SPA 8 - South Bay,2.0,3.8,16.7,8.3,2061,3.698756e+09,554591.259931,"MULTIPOLYGON (((-118.60443 33.47856, -118.5988...",06037599100
2494,599000,4.140374e+07,30722.660050,POLYGON ((-118.33162915779049 33.3563367214137...,10.739532,24.333878,15.487218,11.004076,9.892552,5.816969,...,SPA 8 - South Bay,114.0,10.4,53.8,31.2,2060,3.566450e+07,28399.116302,"POLYGON ((-118.34352 33.34031, -118.33722 33.3...",06037599000

In [123]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2495 entries, 0 to 2494
Columns: 406 entries, geoid20_x to FIPS_y
dtypes: float64(209), geometry(1), int64(5), object(191)
memory usage: 7.7+ MB

In [124]:
merge['TRACTCE']=merge['tract']

In [125]:
merge['Age Total population'] = merge['Estimate!!SEX AND AGE!!Total population']

In [126]:
merge['Under 18 years'] = merge['Estimate!!SEX AND AGE!!Total population!!Under 18 years']

In [127]:
merge['Percent Under 18 years'] = merge['Percent!!SEX AND AGE!!Total population!!Under 18 years']

In [128]:
merge['0-19 years'] = merge['Estimate!!SEX AND AGE!!Total population!!Under 5 years'] + merge['Estimate!!SEX AND AGE!!Total population!!5 to 9 years'] + merge['Estimate!!SEX AND AGE!!Total population!!10 to 14 years'] + merge['Estimate!!SEX AND AGE!!Total population!!15 to 19 years']

In [129]:
merge['65 years and over'] = merge['Estimate!!SEX AND AGE!!Total population!!65 years and over']

In [130]:
merge['Percent 65 years and over'] = merge['Percent!!SEX AND AGE!!Total population!!65 years and over']

In [131]:
merge['85 years and over'] = merge['Estimate!!SEX AND AGE!!Total population!!85 years and over']

In [132]:
merge['Hispanic or Latino'] = merge['Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)']

In [133]:
merge['Percent Hispanic or Latino'] = merge['Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)']

In [134]:
merge['Not Hispanic or Latino'] = merge['Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino']

In [144]:
merge.head()

,geoid20_x,ShapeSTArea,ShapeSTLength,geometry_x,pop_below_100_pct,pop_below_200_pct,mental_health_pct,physical_health_pct,diabetes_pct,cancer_pct,...,Age Total population,Under 18 years,Percent Under 18 years,0-19 years,65 years and over,Percent 65 years and over,85 years and over,Hispanic or Latino,Percent Hispanic or Latino,Not Hispanic or Latino
0,101110,1.229562e+07,15083.854290,"POLYGON ((-118.2979312139962 34.2632268762169,...",11.287386,26.736021,16.309769,10.794954,9.504253,5.485480,...,4014.0,595.0,14.8,716.0,840.0,20.9,34.0,1082.0,27.0,2932.0
1,101122,2.845774e+07,31671.455840,POLYGON ((-118.27743420965825 34.2599078772977...,4.429760,10.499266,13.911290,8.702957,8.299731,6.283602,...,4164.0,665.0,16.0,729.0,909.0,21.8,149.0,362.0,8.7,3802.0
2,101220,7.522093e+06,12698.783810,POLYGON ((-118.27817921018234 34.2557728762786...,16.900661,34.781456,16.807861,11.995934,10.606574,5.489665,...,3481.0,596.0,17.1,686.0,569.0,16.3,39.0,1463.0,42.0,2018.0
3,101221,3.812000e+06,9161.710543,POLYGON ((-118.28734521088782 34.2559088762374...,20.601543,43.918018,18.384296,12.306531,9.890525,4.605512,...,3756.0,694.0,18.5,805.0,733.0,19.5,182.0,1204.0,32.1,2552.0
4,101222,3.191371e+06,9980.600461,POLYGON ((-118.28593621132488 34.2558998758872...,38.019875,66.654396,18.394951,12.308386,9.918846,4.598738,...,2808.0,512.0,18.2,542.0,459.0,16.3,70.0,1295.0,46.1,1513.0

In [145]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population', axis=1)

In [146]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population', axis=1)

In [147]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!Male', axis=1)

In [148]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!Male',axis=1)

In [149]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!Female',axis=1)

In [150]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!Female',axis=1)

In [151]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females)',axis=1)

In [152]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females)',axis=1)

In [153]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!Under 5 years',axis=1)

In [154]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!Under 5 years',axis=1)

In [155]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!5 to 9 years',axis=1)

In [156]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!5 to 9 years',axis=1)

In [157]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!10 to 14 years',axis=1)

In [158]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!10 to 14 years',axis=1)

In [159]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!15 to 19 years',axis=1)

In [160]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!15 to 19 years',axis=1)

In [161]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!20 to 24 years',axis=1)

In [162]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!20 to 24 years',axis=1)

In [163]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!25 to 34 years',axis=1)

In [164]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!25 to 34 years',axis=1)

In [165]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!35 to 44 years',axis=1)

In [166]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!45 to 54 years',axis=1)

In [167]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!45 to 54 years',axis=1)

In [168]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!55 to 59 years',axis=1)

In [169]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!60 to 64 years',axis=1)

In [170]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!60 to 64 years',axis=1)

In [171]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!65 to 74 years',axis=1)

In [172]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!65 to 74 years',axis=1)

In [173]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!75 to 84 years',axis=1)

In [174]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!85 years and over',axis=1)

In [175]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!85 years and over',axis=1)

In [176]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!Median age (years)',axis=1)

In [177]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!Median age (years)',axis=1)

In [178]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!Under 18 years',axis=1)

In [179]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!16 years and over',axis=1)

In [180]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!18 years and over',axis=1)

In [181]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!18 years and over',axis=1)

In [182]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!21 years and over',axis=1)

In [183]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!21 years and over',axis=1)

In [184]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!62 years and over',axis=1)

In [185]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!62 years and over',axis=1)

In [186]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!65 years and over',axis=1)

In [187]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!65 years and over',axis=1)

In [188]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!18 years and over.1',axis=1)

In [189]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!18 years and over.1',axis=1)

In [190]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male',axis=1)

In [191]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!18 years and over!!Male',axis=1)

In [192]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female',axis=1)

In [193]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!18 years and over!!Female',axis=1)

In [194]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females)',axis=1)

In [195]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females)',axis=1)

In [196]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!65 years and over.1',axis=1)

In [197]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!65 years and over.1',axis=1)

In [198]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male',axis=1)

In [199]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Male',axis=1)

In [200]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female',axis=1)

In [201]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Female',axis=1)

In [202]:
merge = merge.drop('Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females)',axis=1)

In [203]:
merge = merge.drop('Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females)',axis=1)

In [204]:
merge = merge.drop('Estimate!!RACE!!Total population',axis=1)

In [205]:
merge = merge.drop('Margin of Error!!RACE!!Total population',axis=1)

In [206]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race',axis=1)

In [207]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race',axis=1)

In [208]:
merge = merge.drop('Estimate!!RACE!!Total population!!Two or More Races',axis=1)

In [209]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!Two or More Races',axis=1)

In [210]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race.1',axis=1)

In [211]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race.1',axis=1)

In [212]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!White',axis=1)

In [213]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!White',axis=1)

In [214]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!Black or African American',axis=1)

In [215]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!Black or African American',axis=1)

In [216]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native',axis=1)

In [217]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!American Indian and Alaska Native',axis=1)

In [218]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Cherokee tribal grouping',axis=1)

In [219]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Cherokee tribal grouping',axis=1)

In [220]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Chippewa tribal grouping',axis=1)

In [221]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Chippewa tribal grouping',axis=1)

In [222]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Navajo tribal grouping',axis=1)

In [223]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Navajo tribal grouping',axis=1)

In [224]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Sioux tribal grouping',axis=1)

In [225]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Sioux tribal grouping',axis=1)

In [226]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!Asian',axis=1)

In [227]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!Asian',axis=1)

In [228]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!Asian!!Asian Indian',axis=1)

In [229]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!Asian!!Asian Indian',axis=1)

In [230]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!Asian!!Chinese',axis=1)

In [231]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!Asian!!Chinese',axis=1)

In [232]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!Asian!!Filipino',axis=1)

In [233]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!Asian!!Filipino',axis=1)

In [234]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!Asian!!Japanese',axis=1)

In [235]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!Asian!!Japanese',axis=1)

In [236]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!Asian!!Korean',axis=1)

In [237]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!Asian!!Korean',axis=1)

In [238]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!Asian!!Vietnamese',axis=1)

In [239]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!Asian!!Vietnamese',axis=1)

In [240]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!Asian!!Other Asian',axis=1)

In [241]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!Asian!!Other Asian',axis=1)

In [242]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander',axis=1)

In [243]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander',axis=1)

In [244]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Chamorro',axis=1)

In [245]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Chamorro',axis=1)

In [246]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Native Hawaiian',axis=1)

In [247]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Native Hawaiian',axis=1)

In [248]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Samoan',axis=1)

In [249]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Samoan',axis=1)

In [251]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Other Native Hawaiian and Other Pacific Islander',axis=1)

In [252]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Other Native Hawaiian and Other Pacific Islander',axis=1)

In [253]:
merge = merge.drop('Estimate!!RACE!!Total population!!One race!!Some Other Race',axis=1)

In [254]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!One race!!Some Other Race',axis=1)

In [255]:
merge = merge.drop('Estimate!!RACE!!Total population!!Two or More Races.1',axis=1)

In [256]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!Two or More Races.1',axis=1)

In [257]:
merge = merge.drop('Estimate!!RACE!!Total population!!Two or More Races!!White and Black or African American',axis=1)

In [258]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!Two or More Races!!White and Black or African American',axis=1)

In [259]:
merge = merge.drop('Estimate!!RACE!!Total population!!Two or More Races!!White and American Indian and Alaska Native',axis=1)

In [260]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!Two or More Races!!White and American Indian and Alaska Native',axis=1)

In [261]:
merge = merge.drop('Estimate!!RACE!!Total population!!Two or More Races!!White and Asian',axis=1)

In [262]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!Two or More Races!!White and Asian',axis=1)

In [263]:
merge = merge.drop('Estimate!!RACE!!Total population!!Two or More Races!!White and Some Other Race',axis=1)

In [264]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!Two or More Races!!White and Some Other Race',axis=1)

In [265]:
merge = merge.drop('Estimate!!RACE!!Total population!!Two or More Races!!Black or African American and American Indian and Alaska Native',axis=1)

In [266]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!Two or More Races!!Black or African American and American Indian and Alaska Native',axis=1)

In [267]:
merge = merge.drop('Estimate!!RACE!!Total population!!Two or More Races!!Black or African American and Some Other Race',axis=1)

In [268]:
merge = merge.drop('Margin of Error!!RACE!!Total population!!Two or More Races!!Black or African American and Some Other Race',axis=1)

In [269]:
merge = merge.drop('Estimate!!Race alone or in combination with one or more other races!!Total population',axis=1)

In [270]:
merge = merge.drop('Margin of Error!!Race alone or in combination with one or more other races!!Total population',axis=1)

In [271]:
merge = merge.drop('Estimate!!Race alone or in combination with one or more other races!!Total population!!White',axis=1)

In [272]:
merge = merge.drop('Margin of Error!!Race alone or in combination with one or more other races!!Total population!!White',axis=1)

In [273]:
merge = merge.drop('Estimate!!Race alone or in combination with one or more other races!!Total population!!Black or African American',axis=1)

In [274]:
merge = merge.drop('Margin of Error!!Race alone or in combination with one or more other races!!Total population!!Black or African American',axis=1)

In [275]:
merge = merge.drop('Estimate!!Race alone or in combination with one or more other races!!Total population!!American Indian and Alaska Native',axis=1)

In [276]:
merge = merge.drop('Margin of Error!!Race alone or in combination with one or more other races!!Total population!!American Indian and Alaska Native',axis=1)

In [277]:
merge = merge.drop('Estimate!!Race alone or in combination with one or more other races!!Total population!!Asian',axis=1)

In [278]:
merge = merge.drop('Margin of Error!!Race alone or in combination with one or more other races!!Total population!!Asian',axis=1)

In [279]:
merge = merge.drop('Estimate!!Race alone or in combination with one or more other races!!Total population!!Native Hawaiian and Other Pacific Islander',axis=1)

In [280]:
merge = merge.drop('Margin of Error!!Race alone or in combination with one or more other races!!Total population!!Native Hawaiian and Other Pacific Islander',axis=1)

In [281]:
merge = merge.drop('Estimate!!Race alone or in combination with one or more other races!!Total population!!Some Other Race',axis=1)

In [282]:
merge = merge.drop('Margin of Error!!Race alone or in combination with one or more other races!!Total population!!Some Other Race',axis=1)

In [283]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population',axis=1)

In [284]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population',axis=1)

In [285]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)',axis=1)

In [286]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)',axis=1)

In [287]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Mexican',axis=1)

In [288]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Mexican',axis=1)

In [289]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Puerto Rican',axis=1)

In [290]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Puerto Rican',axis=1)

In [291]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Cuban',axis=1)

In [292]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Cuban',axis=1)

In [293]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Other Hispanic or Latino',axis=1)

In [294]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Other Hispanic or Latino',axis=1)

In [295]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino',axis=1)

In [296]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino',axis=1)

In [297]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!White alone',axis=1)

In [298]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!White alone',axis=1)

In [299]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Black or African American alone',axis=1)

In [300]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Black or African American alone',axis=1)

In [301]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!American Indian and Alaska Native alone',axis=1)

In [302]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!American Indian and Alaska Native alone',axis=1)

In [303]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Asian alone',axis=1)

In [304]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Asian alone',axis=1)

In [305]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone',axis=1)

In [306]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone',axis=1)

In [307]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some Other Race alone',axis=1)

In [308]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some Other Race alone',axis=1)

In [309]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races',axis=1)

In [310]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races including Some Other Race',axis=1)

In [311]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races including Some Other Race',axis=1)

In [312]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races',axis=1)

In [313]:
merge = merge.drop('Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races excluding Some Other Race, and three or more races',axis=1)

In [314]:
merge = merge.drop('Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races excluding Some Other Race, and three or more races',axis=1)

In [315]:
merge = merge.drop('Estimate!!Total housing units',axis=1)

In [316]:
merge = merge.drop('Margin of Error!!Total housing units',axis=1)

In [317]:
merge = merge.drop('Estimate!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population',axis=1)

In [318]:
merge = merge.drop('Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population',axis=1)

In [319]:
merge = merge.drop('Estimate!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male',axis=1)

In [320]:
merge = merge.drop('Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male',axis=1)

In [321]:
merge = merge.drop('Estimate!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female',axis=1)

In [322]:
merge = merge.drop('Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female',axis=1)

In [323]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population',axis=1)

In [324]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population',axis=1)

In [325]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!Male',axis=1)

In [326]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!Male',axis=1)

In [327]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!Female',axis=1)

In [328]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!Female',axis=1)

In [329]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females)',axis=1)

In [330]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females)',axis=1)

In [331]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!Under 5 years',axis=1)

In [332]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!Under 5 years',axis=1)

In [333]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!5 to 9 years',axis=1)

In [334]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!5 to 9 years',axis=1)

In [335]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!10 to 14 years',axis=1)

In [336]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!10 to 14 years',axis=1)

In [337]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!15 to 19 years',axis=1)

In [338]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!15 to 19 years',axis=1)

In [339]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!20 to 24 years',axis=1)

In [343]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!25 to 34 years',axis=1)

In [344]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!25 to 34 years',axis=1)

KeyError: "['Percent Margin of Error!!SEX AND AGE!!Total population!!25 to 34 years'] not found in axis"

In [345]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!35 to 44 years',axis=1)

KeyError: "['Percent!!SEX AND AGE!!Total population!!35 to 44 years'] not found in axis"

In [346]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!35 to 44 years',axis=1)

In [347]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!45 to 54 years',axis=1)

In [348]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!45 to 54 years',axis=1)

In [349]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!55 to 59 years',axis=1)

In [350]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!55 to 59 years',axis=1)

In [351]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!60 to 64 years',axis=1)

In [352]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!60 to 64 years',axis=1)

In [353]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!65 to 74 years',axis=1)

In [354]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!65 to 74 years',axis=1)

In [355]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!75 to 84 years',axis=1)

In [356]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!75 to 84 years',axis=1)

In [357]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!85 years and over',axis=1)

In [358]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!85 years and over',axis=1)

In [359]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!Median age (years)',axis=1)

In [360]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!Median age (years)',axis=1)

In [361]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!Under 18 years',axis=1)

In [362]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!Under 18 years',axis=1)

In [363]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!16 years and over',axis=1)

In [364]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!16 years and over',axis=1)

In [365]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!18 years and over',axis=1)

In [366]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!18 years and over',axis=1)

In [367]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!21 years and over',axis=1)

In [368]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!21 years and over',axis=1)

In [369]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!62 years and over',axis=1)

In [370]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!62 years and over',axis=1)

In [371]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!65 years and over',axis=1)

In [372]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over',axis=1)

In [373]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!18 years and over.1',axis=1)

In [374]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!18 years and over.1',axis=1)

In [375]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!18 years and over!!Male',axis=1)

In [376]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!18 years and over!!Male',axis=1)

In [377]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!18 years and over!!Female',axis=1)

In [378]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!18 years and over!!Female',axis=1)

In [379]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females)',axis=1)

In [380]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females)',axis=1)

In [381]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!65 years and over.1',axis=1)

In [382]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over.1',axis=1)

In [383]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!65 years and over!!Male',axis=1)

In [384]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Male',axis=1)

In [385]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!65 years and over!!Female',axis=1)

In [386]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Female',axis=1)

In [387]:
merge = merge.drop('Percent!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females)',axis=1)

In [388]:
merge = merge.drop('Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females)',axis=1)

In [389]:
merge = merge.drop('Percent!!RACE!!Total population',axis=1)

In [390]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population',axis=1)

In [391]:
merge = merge.drop('Percent!!RACE!!Total population!!One race',axis=1)

In [392]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race',axis=1)

In [393]:
merge = merge.drop('Percent!!RACE!!Total population!!Two or More Races',axis=1)

In [394]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!Two or More Races',axis=1)

In [395]:
merge = merge.drop('Percent!!RACE!!Total population!!One race.1',axis=1)

In [396]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race.1',axis=1)

In [397]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!White',axis=1)

In [398]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!White',axis=1)

In [399]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!Black or African American',axis=1)

In [400]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!Black or African American',axis=1)

In [401]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native',axis=1)

In [402]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!American Indian and Alaska Native',axis=1)

In [403]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Cherokee tribal grouping',axis=1)

In [404]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Cherokee tribal grouping',axis=1)

In [405]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Chippewa tribal grouping',axis=1)

In [406]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Chippewa tribal grouping',axis=1)

In [407]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Navajo tribal grouping',axis=1)

In [408]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Navajo tribal grouping',axis=1)

In [409]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Sioux tribal grouping',axis=1)

In [410]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Sioux tribal grouping',axis=1)

In [411]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!Asian',axis=1)

In [412]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!Asian',axis=1)

In [413]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!Asian!!Asian Indian',axis=1)

In [414]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!Asian!!Asian Indian',axis=1)

In [415]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!Asian!!Chinese',axis=1)

In [416]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!Asian!!Chinese',axis=1)

In [417]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!Asian!!Filipino',axis=1)

In [418]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!Asian!!Filipino',axis=1)

In [419]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!Asian!!Japanese',axis=1)

In [420]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!Asian!!Japanese',axis=1)

In [421]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!Asian!!Korean',axis=1)

In [422]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!Asian!!Korean',axis=1)

In [423]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!Asian!!Vietnamese',axis=1)

In [424]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!Asian!!Vietnamese',axis=1)

In [425]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!Asian!!Other Asian',axis=1)

In [426]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!Asian!!Other Asian',axis=1)

In [427]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander',axis=1)

In [428]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander',axis=1)

In [429]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Chamorro',axis=1)

In [430]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Chamorro',axis=1)

In [431]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Native Hawaiian',axis=1)

In [432]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Native Hawaiian',axis=1)

In [433]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Samoan',axis=1)

In [434]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Samoan',axis=1)

In [435]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Other Native Hawaiian and Other Pacific Islander',axis=1)

In [436]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Other Native Hawaiian and Other Pacific Islander',axis=1)

In [437]:
merge = merge.drop('Percent!!RACE!!Total population!!One race!!Some Other Race',axis=1)

In [438]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!One race!!Some Other Race',axis=1)

In [439]:
merge = merge.drop('Percent!!RACE!!Total population!!Two or More Races.1',axis=1)

In [440]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!Two or More Races.1',axis=1)

In [441]:
merge = merge.drop('Percent!!RACE!!Total population!!Two or More Races!!White and Black or African American',axis=1)

In [442]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!Two or More Races!!White and Black or African American',axis=1)

In [443]:
merge = merge.drop('Percent!!RACE!!Total population!!Two or More Races!!White and American Indian and Alaska Native',axis=1)

In [444]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!Two or More Races!!White and American Indian and Alaska Native',axis=1)

In [445]:
merge = merge.drop('Percent!!RACE!!Total population!!Two or More Races!!White and Asian',axis=1)

In [446]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!Two or More Races!!White and Asian',axis=1)

In [447]:
merge = merge.drop('Percent!!RACE!!Total population!!Two or More Races!!White and Some Other Race',axis=1)

In [448]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!Two or More Races!!White and Some Other Race',axis=1)

In [449]:
merge = merge.drop('Percent!!RACE!!Total population!!Two or More Races!!Black or African American and American Indian and Alaska Native',axis=1)

In [450]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!Two or More Races!!Black or African American and American Indian and Alaska Native',axis=1)

In [451]:
merge = merge.drop('Percent!!RACE!!Total population!!Two or More Races!!Black or African American and Some Other Race',axis=1)

In [452]:
merge = merge.drop('Percent Margin of Error!!RACE!!Total population!!Two or More Races!!Black or African American and Some Other Race',axis=1)

In [453]:
merge = merge.drop('Percent!!Race alone or in combination with one or more other races!!Total population',axis=1)

In [454]:
merge = merge.drop('Percent Margin of Error!!Race alone or in combination with one or more other races!!Total population',axis=1)

In [455]:
merge = merge.drop('Percent!!Race alone or in combination with one or more other races!!Total population!!White',axis=1)

In [456]:
merge = merge.drop('Percent Margin of Error!!Race alone or in combination with one or more other races!!Total population!!White',axis=1)

In [457]:
merge = merge.drop('Percent!!Race alone or in combination with one or more other races!!Total population!!Black or African American',axis=1)

In [458]:
merge = merge.drop('Percent Margin of Error!!Race alone or in combination with one or more other races!!Total population!!Black or African American',axis=1)

In [459]:
merge = merge.drop('Percent!!Race alone or in combination with one or more other races!!Total population!!American Indian and Alaska Native',axis=1)

In [460]:
merge = merge.drop('Percent Margin of Error!!Race alone or in combination with one or more other races!!Total population!!American Indian and Alaska Native',axis=1)

In [461]:
merge = merge.drop('Percent!!Race alone or in combination with one or more other races!!Total population!!Asian',axis=1)

In [462]:
merge = merge.drop('Percent Margin of Error!!Race alone or in combination with one or more other races!!Total population!!Asian',axis=1)

In [463]:
merge = merge.drop('Percent!!Race alone or in combination with one or more other races!!Total population!!Native Hawaiian and Other Pacific Islander',axis=1)

In [464]:
merge = merge.drop('Percent Margin of Error!!Race alone or in combination with one or more other races!!Total population!!Native Hawaiian and Other Pacific Islander',axis=1)

In [465]:
merge = merge.drop('Percent!!Race alone or in combination with one or more other races!!Total population!!Some Other Race',axis=1)

In [466]:
merge = merge.drop('Percent Margin of Error!!Race alone or in combination with one or more other races!!Total population!!Some Other Race',axis=1)

In [467]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population',axis=1)

In [468]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population',axis=1)

In [469]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)',axis=1)

In [470]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)',axis=1)

In [471]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Mexican',axis=1)

In [472]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Mexican',axis=1)

In [473]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Puerto Rican',axis=1)

In [474]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Puerto Rican',axis=1)

In [475]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Cuban',axis=1)

In [476]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Cuban',axis=1)

In [477]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Other Hispanic or Latino',axis=1)

In [478]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Other Hispanic or Latino',axis=1)

In [479]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino',axis=1)

In [480]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino',axis=1)

In [481]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!White alone',axis=1)

In [482]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!White alone',axis=1)

In [483]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Black or African American alone',axis=1)

In [484]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Black or African American alone',axis=1)

In [485]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!American Indian and Alaska Native alone',axis=1)

In [486]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!American Indian and Alaska Native alone',axis=1)

In [487]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Asian alone',axis=1)

In [488]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Asian alone',axis=1)

In [489]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone',axis=1)

In [490]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone',axis=1)

In [491]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some Other Race alone',axis=1)

In [492]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some Other Race alone',axis=1)

In [493]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races',axis=1)

In [494]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races',axis=1)

In [495]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races including Some Other Race',axis=1)

In [496]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races including Some Other Race',axis=1)

In [497]:
merge = merge.drop('Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races excluding Some Other Race, and three or more races',axis=1)

In [498]:
merge = merge.drop('Percent Margin of Error!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races excluding Some Other Race, and three or more races',axis=1)

In [499]:
merge = merge.drop('Percent!!Total housing units',axis=1)

In [500]:
merge = merge.drop('Percent Margin of Error!!Total housing units',axis=1)

In [501]:
merge = merge.drop('Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population',axis=1)

In [502]:
merge = merge.drop('Percent Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population',axis=1)

In [504]:
merge = merge.drop('Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male',axis=1)

In [505]:
merge = merge.drop('Percent Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male',axis=1)

In [506]:
merge = merge.drop('Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female',axis=1)

In [507]:
merge = merge.drop('Percent Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female',axis=1)

In [510]:
#grabbing census tract shapefile
tracts = gpd.read_file('data/tl_2020_06_tract.shp')

In [511]:
tracts.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,06,029,004402,06029004402,44.02,Census Tract 44.02,G5020,S,1865739,0,+35.5917343,-119.3337642,"POLYGON ((-119.33828 35.58143, -119.33827 35.5..."
1,06,047,000802,06047000802,8.02,Census Tract 8.02,G5020,S,2321653,0,+37.3433591,-120.5854604,"POLYGON ((-120.59599 37.34121, -120.59596 37.3..."
2,06,085,501402,06085501402,5014.02,Census Tract 5014.02,G5020,S,522620,0,+37.3453341,-121.8665169,"POLYGON ((-121.87381 37.34412, -121.87361 37.3..."
3,06,005,000102,06005000102,1.02,Census Tract 1.02,G5020,S,456204155,7940832,+38.5496993,-120.2509786,"POLYGON ((-120.61016 38.41560, -120.61000 38.4..."
4,06,029,004901,06029004901,49.01,Census Tract 49.01,G5020,S,1459379,0,+35.7837173,-119.2462266,"POLYGON ((-119.25262 35.79043, -119.25259 35.7..."

In [534]:
tracts['FIPS']= '06037' + tracts.TRACTCE

In [535]:
tracts.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,FIPS
0,06,029,004402,06029004402,44.02,Census Tract 44.02,G5020,S,1865739,0,+35.5917343,-119.3337642,"POLYGON ((-119.33828 35.58143, -119.33827 35.5...",06037004402
1,06,047,000802,06047000802,8.02,Census Tract 8.02,G5020,S,2321653,0,+37.3433591,-120.5854604,"POLYGON ((-120.59599 37.34121, -120.59596 37.3...",06037000802
2,06,085,501402,06085501402,5014.02,Census Tract 5014.02,G5020,S,522620,0,+37.3453341,-121.8665169,"POLYGON ((-121.87381 37.34412, -121.87361 37.3...",06037501402
3,06,005,000102,06005000102,1.02,Census Tract 1.02,G5020,S,456204155,7940832,+38.5496993,-120.2509786,"POLYGON ((-120.61016 38.41560, -120.61000 38.4...",06037000102
4,06,029,004901,06029004901,49.01,Census Tract 49.01,G5020,S,1459379,0,+35.7837173,-119.2462266,"POLYGON ((-119.25262 35.79043, -119.25259 35.7...",06037004901

In [536]:
latracts = tracts.query("COUNTYFP == '037'")

In [537]:
latracts.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,FIPS
17,06,037,262601,06037262601,2626.01,Census Tract 2626.01,G5020,S,3620351,0,+34.0738344,-118.5557893,"POLYGON ((-118.57556 34.08019, -118.57497 34.0...",06037262601
62,06,037,300100,06037300100,3001,Census Tract 3001,G5020,S,4591342,18657,+34.2442558,-118.2325716,"POLYGON ((-118.24859 34.23881, -118.24858 34.2...",06037300100
65,06,037,300501,06037300501,3005.01,Census Tract 3005.01,G5020,S,1260255,0,+34.2206887,-118.2400494,"POLYGON ((-118.24875 34.22249, -118.24875 34.2...",06037300501
78,06,037,310701,06037310701,3107.01,Census Tract 3107.01,G5020,S,515339,0,+34.1853923,-118.3128440,"POLYGON ((-118.31952 34.18495, -118.31915 34.1...",06037310701
211,06,037,300200,06037300200,3002,Census Tract 3002,G5020,S,1943986,10136,+34.2283768,-118.2386852,"POLYGON ((-118.24864 34.23324, -118.24863 34.2...",06037300200

In [538]:
merge.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2495 entries, 0 to 2494
Data columns (total 60 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   geoid20_x                                                               2495 non-null   object
 1   ShapeSTArea                                                             2495 non-null   float64
 2   ShapeSTLength                                                           2495 non-null   float64
 3   geometry_x                                                              2481 non-null   object
 4   pop_below_100_pct                                                       2471 non-null   float64
 5   pop_below_200_pct                                                       2471 non-null   float64
 6   mental_health_pct                                                       2477 non-null   float64
 7   physical_health_pct                                                     2477 non-null   float64
 8   diabetes_pct                                                            2477 non-null   float64
 9   cancer_pct                                                              2477 non-null   float64
 10  copd_pct                                                                2477 non-null   float64
 11  chd_pct                                                                 2477 non-null   float64
 12  smoking_pct                                                             2477 non-null   float64
 13  binge_drinking_pct                                                      2477 non-null   float64
 14  total_pop                                                               1986 non-null   float64
 15  snap_rate                                                               1979 non-null   float64
 16  FIPS_x                                                                  2495 non-null   object
 17  Margin of Error!!SEX AND AGE!!Total population!!35 to 44 years          2029 non-null   float64
 18  Margin of Error!!SEX AND AGE!!Total population!!55 to 59 years          2029 non-null   float64
 19  Estimate!!SEX AND AGE!!Total population!!75 to 84 years                 2029 non-null   float64
 20  Estimate!!SEX AND AGE!!Total population!!Under 18 years                 2029 non-null   float64
 21  Estimate!!SEX AND AGE!!Total population!!16 years and over              2029 non-null   float64
 22  Percent Margin of Error!!SEX AND AGE!!Total population!!20 to 24 years  2029 non-null   object
 23  geoid20_y                                                               2029 non-null   float64
 24  tract                                                                   2495 non-null   object
 25  families_all                                                            2495 non-null   int64
 26  fam_below_200fpl                                                        2495 non-null   int64
 27  fam_below_300fpl                                                        2495 non-null   int64
 28  fam_received_ssi_cash_assistanc                                         2495 non-null   int64
 29  fam_below_fpl_pct                                                       2468 non-null   float64
 30  fam_below_200fpl_pct                                                    2495 non-null   float64
 31  fam_below_300fpl_pct                                                    2495 non-null   float64
 32  fam_received_assistance_pct                                             2495 non-null   float64
 33  fam_below_fpl_received_assistan                                         2368 non-null   float64
 34  assistance_per_100_fam_below_20                                         2495 non-null   float64
 35  assistance_per_100_fam_below_30                                         2495 non-null   float64
 36  sup_dist                                                                2495 non-null   object
 37  csa                                                                     2495 non-null   object
 38  spa                                                                     2495 non-null   object
 39  calfresh_cases                                                          2483 non-null   float64
 40  calfresh_per_100_families                                               2495 non-null   float64
 41  calfresh_per_100_fam_below_200f                                         2495 non-null   float64
 42  calfresh_per_100_fam_below_300f                                         2495 non-null   float64
 43  ESRI_OID                                                                2495 non-null   int64
 44  Shape__Area                                                             2495 non-null   float64
 45  Shape__Length                                                           2495 non-null   float64
 46  geometry_y                                                              2495 non-null   geometry
 47  FIPS_y                                                                  2495 non-null   object
 48  TRACTCE                                                                 2495 non-null   object
 49  Age Total population                                                    2029 non-null   float64
 50  Under 18 years                                                          2029 non-null   float64
 51  Percent Under 18 years                                                  2029 non-null   object
 52  0-19 years                                                              2029 non-null   float64
 53  65 years and over                                                       2029 non-null   float64
 54  Percent 65 years and over                                               2029 non-null   object
 55  85 years and over                                                       2029 non-null   float64
 56  Hispanic or Latino                                                      2029 non-null   float64
 57  Percent Hispanic or Latino                                              2029 non-null   object
 58  Not Hispanic or Latino                                                  2029 non-null   float64
 59  FIPS                                                                    2495 non-null   object
dtypes: float64(40), geometry(1), int64(5), object(14)
memory usage: 1.1+ MB

In [539]:
merge['FIPS'] = merge['TRACTCE']

In [540]:
merge.head()

,geoid20_x,ShapeSTArea,ShapeSTLength,geometry_x,pop_below_100_pct,pop_below_200_pct,mental_health_pct,physical_health_pct,diabetes_pct,cancer_pct,...,Under 18 years,Percent Under 18 years,0-19 years,65 years and over,Percent 65 years and over,85 years and over,Hispanic or Latino,Percent Hispanic or Latino,Not Hispanic or Latino,FIPS
0,101110,1.229562e+07,15083.854290,"POLYGON ((-118.2979312139962 34.2632268762169,...",11.287386,26.736021,16.309769,10.794954,9.504253,5.485480,...,595.0,14.8,716.0,840.0,20.9,34.0,1082.0,27.0,2932.0,06037101110
1,101122,2.845774e+07,31671.455840,POLYGON ((-118.27743420965825 34.2599078772977...,4.429760,10.499266,13.911290,8.702957,8.299731,6.283602,...,665.0,16.0,729.0,909.0,21.8,149.0,362.0,8.7,3802.0,06037101122
2,101220,7.522093e+06,12698.783810,POLYGON ((-118.27817921018234 34.2557728762786...,16.900661,34.781456,16.807861,11.995934,10.606574,5.489665,...,596.0,17.1,686.0,569.0,16.3,39.0,1463.0,42.0,2018.0,06037101220
3,101221,3.812000e+06,9161.710543,POLYGON ((-118.28734521088782 34.2559088762374...,20.601543,43.918018,18.384296,12.306531,9.890525,4.605512,...,694.0,18.5,805.0,733.0,19.5,182.0,1204.0,32.1,2552.0,06037101221
4,101222,3.191371e+06,9980.600461,POLYGON ((-118.28593621132488 34.2558998758872...,38.019875,66.654396,18.394951,12.308386,9.918846,4.598738,...,512.0,18.2,542.0,459.0,16.3,70.0,1295.0,46.1,1513.0,06037101222

In [541]:
#merging census variables and Cal Fresh data with census tract shapefile
merge_gdf = latracts.merge(merge,on='FIPS')

In [542]:
merge_gdf.head()

,STATEFP,COUNTYFP,TRACTCE_x,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,...,Age Total population,Under 18 years,Percent Under 18 years,0-19 years,65 years and over,Percent 65 years and over,85 years and over,Hispanic or Latino,Percent Hispanic or Latino,Not Hispanic or Latino
0,06,037,262601,06037262601,2626.01,Census Tract 2626.01,G5020,S,3620351,0,...,3330.0,850.0,25.5,902.0,780.0,23.4,74.0,210.0,6.3,3120.0
1,06,037,300100,06037300100,3001,Census Tract 3001,G5020,S,4591342,18657,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06,037,300501,06037300501,3005.01,Census Tract 3005.01,G5020,S,1260255,0,...,2785.0,598.0,21.5,677.0,408.0,14.6,87.0,575.0,20.6,2210.0
3,06,037,310701,06037310701,3107.01,Census Tract 3107.01,G5020,S,515339,0,...,2366.0,345.0,14.6,417.0,759.0,32.1,108.0,530.0,22.4,1836.0
4,06,037,300200,06037300200,3002,Census Tract 3002,G5020,S,1943986,10136,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [544]:
merge_gdf.info(verbose=True,show_counts=True)

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2495 entries, 0 to 2494
Data columns (total 73 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   STATEFP                                                                 2495 non-null   object
 1   COUNTYFP                                                                2495 non-null   object
 2   TRACTCE_x                                                               2495 non-null   object
 3   GEOID                                                                   2495 non-null   object
 4   NAME                                                                    2495 non-null   object
 5   NAMELSAD                                                                2495 non-null   object
 6   MTFCC                                                                   2495 non-null   object
 7   FUNCSTAT                                                                2495 non-null   object
 8   ALAND                                                                   2495 non-null   int64
 9   AWATER                                                                  2495 non-null   int64
 10  INTPTLAT                                                                2495 non-null   object
 11  INTPTLON                                                                2495 non-null   object
 12  geometry                                                                2495 non-null   geometry
 13  FIPS                                                                    2495 non-null   object
 14  geoid20_x                                                               2495 non-null   object
 15  ShapeSTArea                                                             2495 non-null   float64
 16  ShapeSTLength                                                           2495 non-null   float64
 17  geometry_x                                                              2481 non-null   object
 18  pop_below_100_pct                                                       2471 non-null   float64
 19  pop_below_200_pct                                                       2471 non-null   float64
 20  mental_health_pct                                                       2477 non-null   float64
 21  physical_health_pct                                                     2477 non-null   float64
 22  diabetes_pct                                                            2477 non-null   float64
 23  cancer_pct                                                              2477 non-null   float64
 24  copd_pct                                                                2477 non-null   float64
 25  chd_pct                                                                 2477 non-null   float64
 26  smoking_pct                                                             2477 non-null   float64
 27  binge_drinking_pct                                                      2477 non-null   float64
 28  total_pop                                                               1986 non-null   float64
 29  snap_rate                                                               1979 non-null   float64
 30  FIPS_x                                                                  2495 non-null   object
 31  Margin of Error!!SEX AND AGE!!Total population!!35 to 44 years          2029 non-null   float64
 32  Margin of Error!!SEX AND AGE!!Total population!!55 to 59 years          2029 non-null   float64
 33  Estimate!!SEX AND AGE!!Total population!!75 to 84 years                 2029 non-null   float64
 34  Estimate!!SEX AND AGE!!Total population!!Under 18 years                 2029 non-null   float64
 35  Estimate!!SEX AND AGE!!Total population!!16 years and over              2029 non-null   float64
 36  Percent Margin of Error!!SEX AND AGE!!Total population!!20 to 24 years  2029 non-null   object
 37  geoid20_y                                                               2029 non-null   float64
 38  tract                                                                   2495 non-null   object
 39  families_all                                                            2495 non-null   int64
 40  fam_below_200fpl                                                        2495 non-null   int64
 41  fam_below_300fpl                                                        2495 non-null   int64
 42  fam_received_ssi_cash_assistanc                                         2495 non-null   int64
 43  fam_below_fpl_pct                                                       2468 non-null   float64
 44  fam_below_200fpl_pct                                                    2495 non-null   float64
 45  fam_below_300fpl_pct                                                    2495 non-null   float64
 46  fam_received_assistance_pct                                             2495 non-null   float64
 47  fam_below_fpl_received_assistan                                         2368 non-null   float64
 48  assistance_per_100_fam_below_20                                         2495 non-null   float64
 49  assistance_per_100_fam_below_30                                         2495 non-null   float64
 50  sup_dist                                                                2495 non-null   object
 51  csa                                                                     2495 non-null   object
 52  spa                                                                     2495 non-null   object
 53  calfresh_cases                                                          2483 non-null   float64
 54  calfresh_per_100_families                                               2495 non-null   float64
 55  calfresh_per_100_fam_below_200f                                         2495 non-null   float64
 56  calfresh_per_100_fam_below_300f                                         2495 non-null   float64
 57  ESRI_OID                                                                2495 non-null   int64
 58  Shape__Area                                                             2495 non-null   float64
 59  Shape__Length                                                           2495 non-null   float64
 60  geometry_y                                                              2495 non-null   geometry
 61  FIPS_y                                                                  2495 non-null   object
 62  TRACTCE_y                                                               2495 non-null   object
 63  Age Total population                                                    2029 non-null   float64
 64  Under 18 years                                                          2029 non-null   float64
 65  Percent Under 18 years                                                  2029 non-null   object
 66  0-19 years                                                              2029 non-null   float64
 67  65 years and over                                                       2029 non-null   float64
 68  Percent 65 years and over                                               2029 non-null   object
 69  85 years and over                                                       2029 non-null   float64
 70  Hispanic or Latino                                                      2029 non-null   float64
 71  Percent Hispanic or Latino                                              2029 non-null   object
 72  Not Hispanic or Latino                                                  2029 non-null   float64
dtypes: float64(40), geometry(2), int64(7), object(24)
memory usage: 1.4+ MB

In [545]:
#creating a geodataframe
merge_gdf = gpd.GeoDataFrame(merge,geometry = 'geometry_y',crs='epsg:3857')

In [548]:
# pandas dataframe csv; pre shapefile merge (mostly a backup)
merge.to_csv('data/mergedoutput_df.csv')

In [547]:
# geopandas geodataframe csv; use this when possible
merge_gdf.to_csv('data/mergedoutput_gdf.csv')